<div class="row bg-3 container-fluid">
       <div class="col-sm-12 text-center">
            <h1 class="display-4">Account</h1>
            <p>Hier staat uw account informatie</p>
        </div>
</div>
<div class="row bg-2 container-fluid">
        <div class="col-sm-4">
            <img src="https://energycentral.com/sites/default/files/styles/article_body/public/ece/nodes/338636/atomicbomb.jpg?itok=ibR5hzqc" class="img-responsive margin rounded float-left img-thumbnail" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-8" style="text-align:left;">
            <h3><strong>Uw gegevens:</strong></h3>
            <p>In de Hoofdstraat is gisteren een atoombom ontploft die aan bijna een miljoen mensen het leven heeft gekost. De gemeente heeft besloten om geen actie te ondernemen, het was toch sowieso al best een kut wijk. </p>
            <h6>datum shit</h6>
        </div>
</div>
<div class="row bg-2 container-fluid">
        <div class="col-sm-4">
            <img src="https://external-preview.redd.it/s75JpKvIMasIgVYWTU74-iurG7CRSWteEG9gyfELsyk.jpg?auto=webp&s=b044de3343e388c2d3f3c7058d2845048ce4cc06" class="img-responsive margin rounded float-left img-thumbnail" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-8" style="text-align:left;">
            <h3><strong>Iets anders miss?</strong></h3>
            <p>Deze man is neergestoken met behulp van een mes en is nu gewoon mors dood. Dit is al vaker gebeurt in deze wijk. Maar er is ook een atoombom geweest dus dat is niet echt belangrijk meer. Zijn laatste woorde waren "What you gonna do, stab me?", vervolgens is hij zeer zeker neegestoken. Want ja wie daagt nou weer iemand met een mes uit.</p>
            <h6>datum shit</h6>
        </div>
</div>