<div class="row bg-3 container-fluid">
    <div class="col-sm-12 text-center">
        <h1 class="display-4">Error 404</h1>
        <p>Errorcode: 2678error404223watbenje34234retarded47ofzo</p>
    </div>
</div>
<div class="row bg-2 container-fluid">
    <div class="col-sm-4">
        <img src="https://energycentral.com/sites/default/files/styles/article_body/public/ece/nodes/338636/atomicbomb.jpg?itok=ibR5hzqc" class="img-responsive margin rounded float-left img-thumbnail" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-8" style="text-align:left;">
        <h3><strong>De pagina die u heeft opgevraagd bestaat niet.</strong></h3>
        <p>Deze pagina bestaat niet of is nog niet geïnplementeerd, probeer deze actie niet meer tenzij je weer op deze pagina wilt komen. Maar zo retarded zal je toch niet zijn? En anders zie ik je zo wel weer teruq.     Blijf weg though.</p>
        <h6 asp-area="" asp-controller="Buurtapp" asp-action="Home">Keer terug naar de homepagina</h6>
    </div>
</div>