<head>
    <link rel="stylesheet" href="~/css/helpdesk.css" />
</head>
@{
    ViewData["Title"] = "Helpdesk";
}

<section class="faq-section">
    <div class="container">
        <div class="row">
            <!-- ***** FAQ Start ***** -->
            <div class="col-md-6 offset-md-3">

                <div class="faq-title text-center pb-3">
                    <h2>Helpdesk</h2>
                </div>
                <div class="text-center pb-8">
                    <p>Hier worden de vaakgestelde vragen beantwoord. Staat uw vraag er niet tussen? Bereik de maker van de site op 19106297@student.hhs.nl<p>
                </div>

            </div>
            <div class="col-md-6 offset-md-3">
                <div class="faq" id="accordion">
                    <div class="card">
                        <div class="card-header" id="faqHeading-1">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                    <span class="badge">1</span>Hoe beveiligen wij uw gegevens?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                            <div class="card-body">
                                <p>Uw gegevens worden in een veilige database opgeslagen. Hier wordt uw wachtwoord automatisch versleuteld zodat deze niet direct in de database zijn te lezen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-2">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                    <span class="badge">2</span> Ik kan niet meer inloggen
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                            <div class="card-body">
                                <p>Klik bij het inloggen op "Wachtwoord vergeten" om een nieuw wachtwoord aan te vragen. Indien u er nog steeds niet uitkomt, kunt u ons bereiken op 19106297@student.hhs.nl</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-3">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                    <span class="badge">3</span>Ik ben mijn wachtwoord vergeten
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                            <div class="card-body">
                                <p>Klik bij het inloggen op "Wachtwoord vergeten" om een nieuw wachtwoord aan te vragen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-4">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                    <span class="badge">4</span> Hoe verwijder ik mijn account
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                            <div class="card-body">
                                <p>Klik op uw e-mail adres rechtsbovenin de navigatiebalk. Onder het kopje "Persoonlijke data" vindt u een knop om uw account - inclusief persoonlijke gegevens - in zijn geheel te verwijderen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="faqHeading-5">
                            <div class="mb-0">
                                <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-5" data-aria-expanded="false" data-aria-controls="faqCollapse-5">
                                    <span class="badge">5</span> Hoe is deze site gemaakt?
                                </h5>
                            </div>
                        </div>
                        <div id="faqCollapse-5" class="collapse" aria-labelledby="faqHeading-5" data-parent="#accordion">
                            <div class="card-body">
                                <p>Deze site is gemaakt door Fabian van Hespen en Roderick Heijligers om voor onder andere stages te laten zien wat wij kunnen.</p>
                                <p>Om de site te maken is een van onze school projecten als basis gebruikt en deze hebben wij uitgebreid tot wat je nu ziet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>