@{
    ViewData["Title"] = "Rondleiding";
}
<!DOCTYPE html>
<html>
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="~/css/helpdesk.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa-anchor, .fa-coffee {
            font-size: 200px
        }

        .fa-lock {
            font-size: 200px;
        }


    </style>
</head>
<body>

    <section class="faq-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <div class="faq-title text-center pb-3">
                        <h2>Rondleiding</h2>
                    </div>
                    <div class="text-center pb-8">
                        <p>
                            Hier volgt een rondleiding waar de site voor u wordt uitgelegdt.
                            Mocht u hier geen interesse in hebben kunt u via de navigatiebalk terug naar de site.
                        <p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">


                <div class="w3-twothird">
                    <h1>Hoe werkt de rondleiding?</h1>
                    <p class="w3-text-grey">
                        Door op de onderstaande knop te drukken zal de pop-up rondleiding over BuurSecure aangezet worden. U ziet dan een pop-up onder de header verschijnen met basis-informatie.
                        <br>
                        Hieronder staan de pagina's in meer details uitgelegd.
                    </p>
                    <button id="rondleidingAan" onclick="rondleidingAan()">Start rondleiding</button>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-twothird">
                    <h1>Homepage</h1>
                    <p class="w3-text-grey">
                        Op de homepagina kunt u informatie over het Portfolio lezen.
                    </p>
                </div>


            </div>
        </div>

        <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">


                <div class="w3-twothird">
                    <h1>Over mij</h1>
                    <p class="w3-text-grey">
                        Via de over mij pagina kunt u informatie vinden over wie ik ben en wat ik doe.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-twothird">
                    <h1>Contact</h1>
                    <p class="w3-text-grey">
                        Via de Contact pagina kunt u mijn contact gegevens vinden.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-twothird">
                    <h1>Ervaring</h1>
                    <p class="w3-text-grey">
                        Dit is de pagina waar het Portfolio om draait, u kunt kiezen of u alle ervaringen wilt zien of alleen bepaalde. 
                        Hier staat een overzicht met alle ervaringen van onder andere werk ervaring als school projecten. 
                        Alle ervaringen kunnen worden gesorteerd, gefilterd en hebben een zoekfunctie.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-twothird">
                    <h1>helpdesk</h1>
                    <p class="w3-text-grey">
                        Op de helpdesk kunt u de meest gestelde vragen bekijken en staat onze email voor als u ons wilt contacteren.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-twothird">
                    <h1>Account</h1>
                    <p class="w3-text-grey">
                        U kunt naar een account pagina waar u al uw account data kunt bijwerken en zo nodig verwijderen.
                        Ook kunt u via deze knop terug naar deze rondleiding.
                    </p>
                </div>
            </div>
        </div>

        <div class="w3-row-padding w3-padding-64 w3-container">
            <div class="w3-content">
                <div class="w3-twothird">
                    <h1>Log uit</h1>
                    <p class="w3-text-grey">
                        Via deze knop kunt u weer uitloggen. Bedankt voor het bekijken van deze rondleiding en veel plezier op de site.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

<script>
    function rondleidingAan() {
        document.getElementById("rondleiding0").style.visibility = "visible";
    }
    function rondleidingVolgende(spandieuitmoet, spandieaanmoet) {
        document.getElementById(spandieuitmoet).style.visibility = "hidden";
        document.getElementById(spandieaanmoet).style.visibility = "visible";
    }
    function rondleidingUit() {
        document.getElementById("rondleidingFinal").style.visibility = "hidden";
    }
</script>