a {
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #1da78b;
    border-color: #167a66;
}

.bg-custom {
    background-color: rgb(51, 51, 51);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

#content {
    padding-bottom: 50px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    min-height: 100%;
}

body {
    font: 20px Montserrat, Roboto, Open-Sans, Raleway, sans-serif;
    line-height: 1.8;
    color: #5c5c5c !important;
    background-color: #e1e2e3;
    min-height: 300px;
    margin-bottom: 50px;
    clear: both;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1da78b; /* blue */
    color: #ffffff;
}

.bg-2 {
    background-color: rgb(51, 51, 51); /* Dark Blue */
    color: #ffffff;
    background-image: url("https://i.ytimg.com/vi/afTe3Gq5QrE/maxresdefault.jpg");
}

.bg-3 {
    background-color: #5c5c5c;
    color: #ffffff;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.my-sidebar {
    -ms-flex: 0 0 550px;
    flex: 0 0 550px;
    width: 50%;
    background-color: rgb(99, 99, 99);
    color: #d6d6d6;
}

.body-error {
    text-align: center;
    font-size: large;
    background-image: "https://c4.wallpaperflare.com/wallpaper/400/987/710/windows-crash-error-wallpaper-preview.jpg";
}

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

    .crop img {
        width: 400px;
        height: 500px;
        margin: -75px 0 0 -100px;
    }

/* accordion */
.accordion ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0;
}

    .accordion ul li {
        display: inline-block;
        position: relative;
        width: 100%;
        min-height: 50px;
        background-repeat: no-repeat;
        background-position: center center;
        text-align: center;
        color: #fff;
    }

        .accordion ul li:nth-child(1) {
            background-image: url("https://imgur.com/T6mmM42.png");
        }

        .accordion ul li:nth-child(2) {
            background-image: url("https://imgur.com/Pz8BQS5.png");
        }

        .accordion ul li:nth-child(3) {
            background-image: url("https://imgur.com/ZVf6TDs.png");
        }

        .accordion ul li::before {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0,0,0,0.3);
            content: '';
        }

        .accordion ul li div {
            transform: translateY(0px);
            transition: transform 500ms;
        }

        .accordion ul li a {
            text-decoration: none;
            color: #fff;
        }

        .accordion ul li h1 {
            font-family: 'Roboto Condensed', sans-serif;
            text-overflow: clip;
            font-size: 2.5em;
            line-height: 3rem;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .accordion ul li p {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            opacity: 1;
            transition: opacity 200ms;
            margin-left: 10vw;
            margin-right: 10vw;
        }




@media screen and (min-width: 769px) {
    .accordion {
        height: 500px;
        min-height: 100px;
        overflow: hidden;
        margin-top: -75px;
        margin-bottom: 100px;
    }

        .accordion ul {
            height: 20px;
        }

            .accordion ul li {
                display: table-cell;
                vertical-align: bottom;
                width: 33%;
                height: 300px;
                min-height: 0px;
                transition: all 500ms ease;
            }

            .accordion ul:hover li {
                width: 30%;
            }

                .accordion ul:hover li:hover {
                    width: 40%;
                }

            .accordion ul li::before {
                background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.6) 95%);
                opacity: 0;
                transition: opacity 1s, transform 1s;
            }

            .accordion ul li:hover::before {
                opacity: 1;
            }

            .accordion ul:hover li:hover * {
                opacity: 1;
                transition: opacity 500ms, transform 500ms;
                transform: translateX(0);
            }

            .accordion ul li div {
                transform: translateY(120px);
                transition: transform 500ms;
            }

            .accordion ul li p {
                width: 350px;
                height: 450px;
                opacity: 0;
                margin-left: auto;
                margin-right: auto;
            }
}
